.create-form .container{
   background-color: #f3f3f3;
   border-radius: 15px;
   border: none !important;
   box-shadow: 2px 2px 10px #cbced1, -2px -2px 10px #ecf0f3;
}

.update-form .container{
    background-color: #f3f3f3;
    border-radius: 15px;
    border: none !important;
    box-shadow: 2px 2px 10px #cbced1, -2px -2px 10px #ecf0f3;
 }